@*
Index.cshtml

Author:
       Eddy Zavaleta <eddy@mictlanix.org>

Copyright (c) 2011 Eddy Zavaleta, Mictlanix and contributors.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*@
@using Mictlanix.WebSites.JMR
@using Mictlanix.WebSites.JMR.Models
@using Mictlanix.WebSites.JMR.Helpers
@using Mictlanix.WebSites.JMR.Properties
@{
    ViewBag.Title = "JMR - Catálogo";
    ViewBag.PageName = "Catálogo";
    ViewBag.Section = "Categories";
}
<link href="@Url.Content("~/Content/equipment.css")" rel="stylesheet" type="text/css"></link>

<div id="equipment">
	@*<div id="search-box">
		<label>Búsqueda:</label>
		<input type="text" name="search" />
		<button type="submit">
			<img src="@Url.Content("~/Content/images/search.png")" alt="Buscar"/>
		</button>
	</div>*@
	<div id="makes-strip">
		<h3>Marcas:</h3>
		<ul>
			<li>
				<a href="http://www.cat.com/" target="_blank">
					<img src="@Url.Content("~/Content/images/cat.png")" alt="CAT" title="CAT"/>
				</a>
			</li>
			<li>
				<a href="http://www.volvoce.com/" target="_blank">
					<img src="@Url.Content("~/Content/images/volvo.png")" alt="Volvo" title="Volvo"/>
				</a>
			</li>
			<li>
				<a href="http://www.jcb.com/" target="_blank">
					<img src="@Url.Content("~/Content/images/jcb.png")" alt="JCB" title="JCB"/>
				</a>
			</li>
			<li>
				<a href="http://www.deere.com/wps/dcom/en_US/industry/construction/construction.page" target="_blank">
					<img src="@Url.Content("~/Content/images/jdeere.png")" alt="John Deere" title="John Deere"/>
				</a>
			</li>
			<li>
				<a href="http://www.casece.com/wps/portal/casece?brandsite_brand=CaseCE&brandsite_language=es&brandsite_geo=LA" target="_blank">
					<img src="@Url.Content("~/Content/images/case.png")" alt="CASE" title="CASE"/>
				</a>
			</li>
			<li>
				<a href="http://www.komatsu.com/" target="_blank">
					<img src="@Url.Content("~/Content/images/komatsu.png")" alt="Komat'su" title="Komat'su"/>
				</a>
			</li>
		</ul>
	</div>
	<div id="categories-list">
		<h3>Tipos de Máquina:</h3>
		<ul>
            @foreach (var item in Enum.GetValues(typeof(CategoryEnum)))
            {
			<li>
				<a href="/Equipment/@item">@(((CategoryEnum)item).GetDisplayName())</a>
			</li>
            }
		</ul>
	</div>
</div>

<script type="text/javascript">

</script>