@*
Index.cshtml

Author:
       Eddy Zavaleta <eddy@mictlanix.org>

Copyright (c) 2011 Eddy Zavaleta, Mictlanix and contributors.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*@
@model Mictlanix.WebSites.JMR.Models.Subscriber
@{
    ViewBag.Title = "JMR - Registro";
    ViewBag.Section = "Newsletters";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/newsletters.css")" rel="stylesheet" type="text/css"></link>

<div id="newsletters">
    <div id="newsletters-gray">
        <img id ="newsletters-img" src="@Url.Content("~/Content/images/registro-machine.png")" alt="maquinaria" />
    </div>
    <div id="newsletters-data">
        <p class="newsletters-p-sucribe">SUSCRIBETE SIN<br/>COSTO</p>
        <div id="newsletters-form">
        	@Html.Partial("_Form", Model)
        </div>
        <div id="newsletters-text">
        Déjanos tu dirección de correo electrónico y con gusto te enviamos el boletín mensual, 
        donde encontraras más información de nuestra maquinaria y las mejores promociones para tí. 
        </div>
        <div id="newsletters-msg">
            <span>Te ofrecemos el mejor servicio a tu alcance.</span>
        </div>
    </div>
	<div id="makes-strip">
		@Html.Partial("_MakesList")
	</div>
</div>
<script type="text/javascript">

</script>