@using Mictlanix.WebSites.JMR.Properties
@model Mictlanix.WebSites.JMR.Models.ChangePasswordModel

@{
    ViewBag.Title = Resources.Title_ChangePassword;
}
<link href="@Url.Content("~/Content/admin.css")" rel="stylesheet" type="text/css"></link>
<div id="admin-panel">

<h2>@Resources.DisplayName_ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, Resources.Message_ChangePasswordFail)
    <div>
        <fieldset>
            <legend>@Resources.AccountInformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p><button type="submit">@Resources.ChangePassword</button></p>

        </fieldset>
    </div>
}

</div>