@*
Index.cshtml

Author:
       Eddy Zavaleta <eddy@mictlanix.org>

Copyright (c) 2011 Eddy Zavaleta, Mictlanix and contributors.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*@
@model Mictlanix.WebSites.JMR.Models.ContactUs
@{
    ViewBag.Title = "JMR - Contacto";
    ViewBag.PageName = "Contacto";
    ViewBag.Section = "Contact";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/path.min.js")" type='text/javascript'></script>
<link href="@Url.Content("~/Content/contact.css")" rel="stylesheet" type="text/css"></link>
<div id="contact">
	<div id="sidebar">
		<div id="sidebar-bg" class="branches">
			<h3>Sucursales:</h3>
			<ul class="info">
				<li class="df">
					<a href="#df">
						<h3 class="name"></h3>
						<div class="phone-numbers">
							<span>01 (55) 1668-5781</span>
							<span>01 (55) 5816-4844</span>
							<span>52*250771*2</span>
						</div>
					</a>
				</li>
				<li class="puebla">
					<a href="#puebla">
						<h3 class="name"></h3>
						<div class="phone-numbers">
							<span>01 (222) 409-7223</span>
							<span>01 (222) 409-7224</span>
							<span>52*250771*1</span>
						</div>
					</a>
				</li>
				<li class="tuxtla">
					<a href="#tuxtla">
						<h3 class="name"></h3>
						<div class="phone-numbers">
							<span>01 (961) 663-7604</span>
							<span>045 (961) 157-6320</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="emails">
		<h3>Atención Personalizada:</h3>
		<div class="black-box">
			<div class="email black">
				<a href="mailto:info@jmrmaquinaria.mx">info@jmrmaquinaria.mx</a>
			</div>
			<div class="email">
				<a href="mailto:rafael@jmrmaquinaria.mx">rafael@jmrmaquinaria.mx</a>
			</div>
			<div class="email">
				<a href="mailto:dario@jmrmaquinaria.mx">dario@jmrmaquinaria.mx</a>
			</div>
		</div>
	</div>
	<div id="more-info">
		<h2>¿Más información?</h2>
	</div>
	<div id="form-block">
		<div id="form-arrows">
			<ul>
				<li>
					<a href="#df">
						<img src="@Url.Content("~/Content/images/arrow.png")" alt="Contacto en DF" title="Contacto en DF"/>
					</a>
				</li>
				<li>
					<a href="#puebla">
						<img src="@Url.Content("~/Content/images/arrow.png")" alt="Contacto en Puebla" title="Contacto en Puebla"/>
					</a>
				</li>
				<li>
					<a href="#tuxtla">
						<img src="@Url.Content("~/Content/images/arrow.png")" alt="Contacto en Tuxtla" title="Contacto en Tuxtla"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="form-fields">
			@Html.Partial("_Form", Model)
		</div>
	</div>
</div>
<script type='text/javascript'> 
	function showForm(){
		if($("#form-fields").is(":visible")) {
			$("#form-fields").hide("slide", { direction: "right" }, 500, function() {
		    	$("#form-fields").show("slide", { direction: "right" }, 1000, function() {
			    	$('#Name').delay(100).focus();
				});
			});
		} else {
			$("#form-fields").show("slide", { direction: "right" }, 1000, function() {
		    	$('#Name').delay(100).focus();
			});
		}
	}
	
	function hideForm(){
		$('#form-fields').hide("slide", { direction: "right" }, 1000, null);
	}
	
	Path.map("#main").to(function(){
		$('#To').val("df");
		$('#selected-branch').html("Distrito Federal");
	}).enter(hideForm);
	
	Path.map("#df").to(function(){
		$('#To').val("df");
		$('#selected-branch').html("Distrito Federal");
	}).enter(showForm);
    
	Path.map("#puebla").to(function(){
		$('#To').val("puebla");
		$('#selected-branch').html("Puebla");
    }).enter(showForm);
    
	Path.map("#tuxtla").to(function(){
		$('#To').val("tuxtla");
		$('#selected-branch').html("Tuxtla Gtz.");
    }).enter(showForm);
    
    Path.root("#main");

	$(function(){
		Path.listen();
    });
</script>